/* Accordion
================================================== */
.wpsm-accordion { margin-bottom: 15px; font-size: inherit !important; font-family: inherit !important; }
.wpsm-accordion h3.wpsm-accordion-trigger { display: block; color: #555; display: block; padding: 15px; border: 1px solid #ddd; outline: 0; text-transform: none; letter-spacing: normal; font-weight: normal; font-size: 14px; line-height: 21px; margin: 10px 0 0 !important; cursor: pointer; font-family: Arial; background: none #f9f9f9 !important; border-radius: 0 !important }
.wpsm-accordion h3.wpsm-accordion-trigger:before { content: "+"; display: inline-block; margin-right: 5px; font-size: 16px; }
.wpsm-accordion h3.wpsm-accordion-trigger a { color: #555; text-decoration: none !important; display: inline !important; padding: 0 !important }
.wpsm-accordion .ui-state-focus { outline: none; }
.wpsm-accordion .wpsm-accordion-trigger:hover { background-color: #eee; text-decoration: none; }
.wpsm-accordion .wpsm-accordion-trigger.ui-state-active, .wpsm-accordion.wpb_content_element .wpsm-accordion-trigger.ui-state-active { background: none #eee !important; text-decoration: none; }
.wpsm-accordion .wpsm-accordion-trigger.ui-state-active:before { content: "–"; }
.wpsm-accordion .wpsm-accordion-trigger.ui-state-active a { color: #000; }
.wpsm-accordion .ui-accordion-content { background-color: #fff; padding: 15px; border: 1px solid #ddd; border-top: 0px; border-radius: 0 !important }
.wpsm-accordion .ui-accordion-content p:last-child { margin: 0px; }
.wpsm-accordion .ui-icon { margin-right: 7px; background: none transparent !important; position: static !important; display: inline !important; }
.wpb_accordion.wpsm-accordion .wpb_accordion_wrapper .ui-state-default .ui-icon, .wpb_accordion.wpsm-accordion .wpb_accordion_wrapper .ui-state-active .ui-icon{ position: static; height: auto; width: auto; background: none; display: inline;}
.wpb_content_element.wpsm-accordion .wpb_accordion_wrapper .wpb_accordion_header a{ padding:0; display: inline;}
.wpb_accordion.wpsm-accordion .wpb_accordion_wrapper .wpb_accordion_header{ padding: 15px;}

/* bars
================================================== */
.wpsm-bar { position: relative; display: block; margin-bottom: 15px; width: 100%; background: #eee; height: 28px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -webkit-transition: 0.4s linear; -moz-transition: 0.4s linear; -ms-transition: 0.4s linear; -o-transition: 0.4s linear; transition: 0.4s linear; -webkit-transition-property: width, background-color; -moz-transition-property: width, background-color; -ms-transition-property: width, background-color; -o-transition-property: width, background-color; transition-property: width, background-color; }
.wpsm-bar-title { position: absolute; top: 0; left: 0; font-weight: bold; font-size: 13px; color: #fff; background: #6adcfa; -webkit-border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.wpsm-bar-title span { display: block; background: rgba(0,0,0,0.1); padding: 0 20px; height: 28px; line-height: 28px; -webkit-border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.wpsm-bar-bar { height: 28px; width: 0px; background: #6adcfa; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.wpsm-bar-percent { position: absolute; right: 10px; top: 0; font-size: 11px; height: 28px; line-height: 28px; color: rgba(0,0,0,0.4); }
.wpsm-clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.vc_progress_bar .vc_single_bar .vc_label{padding: 0.3em 1em !important}
.wpsm-bar a{color: #fff; text-decoration: none;}
.wpsm-bar-compare .wpsm-bar-title, .wpsm-bar-compare .wpsm-bar-title span{background-color: transparent; font-size: 15px; font-weight: normal;}
.wpsm-bar-compare .wpsm-bar-title span{padding: 0 12px}
.wpsm-bar-compare .wpsm-bar-bar{background-color: #aaa}
.wpsm-bar-compare .wpsm-bar-percent{color: #fff; font-size: 14px; font-weight: bold;}
.wpsm-bar-compare .wpsm-bar{background-color: #cdcdcd}
.wpsm-bar.minibar, .wpsm-bar.minibar .wpsm-bar-bar{height: 8px}

/*main*/

.wpsm_box {padding: 15px; margin: 0 0 20px 0; font-size: 15px;    }
.wpsm_box p:last-child { margin: 0; }

/*aligns*/
.wpsm_box.leftfloat_box { float: left; }
.wpsm_box.rightfloat_box { float: right; }
.wpsm_box.nonefloat_box { float: none; }

/*colors*/
.wpsm_box.gray_type { color: #666; background: #f9f9f9; border: 1px solid #ddd; }
.wpsm_box.red_type { color: #de5959; background: #ffe9e9; border: 1px solid #fbc4c4; }
.wpsm_box.green_type { color: #5f9025; background: #ebf6e0; border: 1px solid #b3dc82; }
.wpsm_box.blue_type { color: #5091b2; background: #e9f7fe; border: 1px solid #b6d7e8; }
.wpsm_box.yellow_type { color: #c4690e; background: #fffdf3; border: 1px solid #f2dfa4; }
.wpsm_box.dashed_border_type { border: 1px dashed #CCCCCC; }
.wpsm_box.solid_border_type { border: 1px solid #CCCCCC; }
.wpsm_box.transparent_type { background-color: transparent; }

/* #Box
================================================== */
.wpsm_box { border-bottom-style: solid; border-top-style: solid; border-width: 1px; color: #363636; min-height: 52px; padding: 15px 15px 15px 20px; margin: 0 0 25px 0; overflow: auto; }
.wpsm_box.warning_type { background-color: #FFF7F4; border-color: #F38867; color: #A61818 }
.wpsm_box.standart_type { background-color: #F9F9F9; border-color: #E3E3E3; }
.wpsm_box.info_type { background-color: #F0FFDE; border-color: #ABE19A; }
.wpsm_box.error_type { background-color: #FFD3D3; border-color: #FF0000; color: #DC0000 }
.wpsm_box.download_type { background-color: #E8F9FF; border-color: #BCD0DE; }
.wpsm_box.note_type { background-color: #FFFCE5; border-color: #FFDC7D; }
.wpsm_box.standart_type i, .wpsm_box.info_type i, .wpsm_box.warning_type i, .wpsm_box.error_type i, .wpsm_box.download_type i, .wpsm_box.note_type i { font-family: Font Awesome\ 5 Pro; font-weight: normal; font-style: normal; text-decoration: inherit; -webkit-font-smoothing: antialiased; /* sprites.less reset */
display: inline; width: auto; height: auto; line-height: normal; vertical-align: baseline; background-image: none; background-position: 0% 0%; background-repeat: repeat; margin-top: 0; font-size: 27px; float: left; margin: 0 14px 10px 0; }
.wpsm_box.warning_type i:before { content: "\f071"; color: #E25B32; font-weight: 900 }
.wpsm_box.info_type i:before { content: "\f0c6"; color: #53A34C; font-weight: 300}
.wpsm_box.error_type i:before { content: "\f05e"; color: #DC0000;font-weight: 300 }
.wpsm_box.download_type i:before { content: "\f019"; color: #1AA1D6; font-weight: 900}
.wpsm_box.note_type i:before { content: "\f044"; color: #555;font-weight: 300 }
.wpsm_box.leftfloat_box{margin: 0 25px 25px 0}
.wpsm_box.rightfloat_box{margin: 0 0 25px 25px}

/* Buttons
================================================== */
.wpsm-button {cursor: pointer; display: inline-block; white-space: nowrap; text-align: center; outline: none; background: #aaaaaa; text-decoration: none; transition: all 0.4s ease 0s;
border: 1px solid #7e7e7e;color: #fff;font-weight: bold; padding: 4px 10px; line-height: 0.8em; text-decoration: none; white-space: normal; text-shadow: 0 1px 0 rgba(0,0,0,0.25); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); position: relative; font-size: 15px; box-sizing:border-box; font-style: normal; }
.wpsm-button:hover { text-decoration: none; opacity: 0.9; -moz-opacity: 0.9; -webkit-opacity: 0.9; color: #fff }
.wpsm-button.white{border: 1px solid transparent; background-color: #f6f6f6; color: #111; text-shadow: none;box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 1px 2px rgba(0, 0, 0, 0.08);}
.wpsm-button.white:hover{background-color: #f2f2f2; border: 1px solid transparent; box-shadow: 0 -1px 2px 0 rgba(60,64,67,0.1), 0 5px 10px 0 rgba(60,64,67,0.14); color: #111 }
.wpsm-button.white:active{box-shadow: inset 0 3px 5px rgba(0,0,0,.125);background: #e6e6e6; border-color: #adadad;; color: #111}
.wpsm-button.small  { padding: 5px 12px; line-height: 12px; font-size: 12px }
.wpsm-button.medium  { padding: 8px 16px; line-height: 15px; font-size: 15px }
.wpsm-button.big  { padding: 12px 24px; line-height: 22px; font-size: 22px }
.wpsm-button.giant  { padding: 16px 30px; line-height: 30px; font-size: 30px }
.wpsm-button:active {top: 2px; }
.wpsm-button.black { background: #505050; border: 1px solid #101010; }
.wpsm-button.black:active { background: #101010; }
.wpsm-button.red { background: #d01d10; border: 1px solid #d01d10; }
.wpsm-button.red:active { background: #d01d10; }
.wpsm-button.orange { background: #fa9e19; border: 1px solid #FB6909; }
.wpsm-button.orange:active { background: #fb6909; }
.wpsm-button.blue { background: #1571f0; border: 1px solid #1a6dd7; }
.wpsm-button.blue:active { background: #1571f0; }
.wpsm-button.rosy { background: #f295a2; border: 1px solid #e84a5f; }
.wpsm-button.rosy:active { background: #e84a5f; }
.wpsm-button.pink { background: #e3618d; border: 1px solid #cb245c; }
.wpsm-button.pink:active { background: #cb245c; }
.wpsm-button.green {background: #43c801; border-color: #43c801; }
.wpsm-button.green:active { background: #3eac08; }
.wpsm-button.brown { background: #876565; border: 1px solid #604848; }
.wpsm-button.brown:active { background: #604848; }
.wpsm-button.purple { background: #524656; border: 1px solid #372f3a; }
.wpsm-button.purple:active { background: #372f3a; }
.wpsm-button.gold { background: #ffc750; border: 1px solid #faaa00; }
.wpsm-button.gold:active { background: #faaa00; }
.wpsm-button.gold { color: #844D1E !important; text-shadow: 1px 1px 1px #ffe2a5 !important; }
.wpsm-button.teal { background: #3c9091;border: 1px solid #286061; }
.wpsm-button.teal:active { background: #286061; }
.wpsm-button.navy { background: #2c76cf; border: 1px solid #1d4e89; }
.wpsm-button.navy:active { background: #1d4e89; }
.wpsm-button.left { float: left; }
.wpsm-button.right { float: right; margin-right: 0; margin-left: 5px; }
.wpsm-button.small i { padding-right: 5px; }
.wpsm-button.medium i{ padding-right: 8px; }
.wpsm-button.big i{ padding-right: 10px; }
.wpb_button{ border-radius: 0 !important; -webkit-border-radius: 0 !important;}
.wpsm-button.wpsm-flat-btn{ border-radius: 0;  }
.wpsm-button.wpsm-flat-btn { font-weight: normal;}
.popup_cont_div{ display: none;}
.popup_cont_inside{ padding: 20px}

/* #table
================================================== */
.wpsm-table, .wp-block-table, .table-responsive{overflow: auto;}
.wp-block-table.is-style-regular{border: 1px solid #e8e8e8; border-bottom: none; border-right: none}
.wpsm-table table, .wp-block-table, .table-condensed { border-collapse: separate; padding-bottom: 1px; width: 100%; margin: 10px 0 20px; border-spacing: 0; font-size: 14px; }
.wpsm-table table tr:first-child th { border-top: 0 none; }
.wpsm-table table tr th, .wpsm-table table tr td, .wp-block-table tr td, .table-condensed tr td, .table-condensed tr th { padding: 7px 14px; border-bottom: 1px solid #e8e8e8; text-align: left; vertical-align: middle; }
.wp-block-table.is-style-regular tr td{ border-right: 1px solid #e8e8e8;}
body .wpsm-table table tr th { background: none repeat scroll 0 0 #222222; color: #FFFFFF; font-size: 15px; font-weight: 700; text-transform: uppercase; }
body .wpsm-table.wpsm-table-grey table tr th, .table-condensed tr th { background: none repeat scroll 0 0 #f5f5f5; color: #111 !important; }
body .wpsm-table.wpsm-table-orange table tr th { background: none repeat scroll 0 0 #fb7203; }
body .wpsm-table.wpsm-table-yellow table tr th { background: none repeat scroll 0 0 #FFDD00; color: #222222; }
body .wpsm-table.wpsm-table-blue table tr th { background: none repeat scroll 0 0 #00AAE9; }
body .wpsm-table.wpsm-table-red table tr th { background: none repeat scroll 0 0 #DD0007; }
body .wpsm-table.wpsm-table-green table tr th { background: none repeat scroll 0 0 #77bb0f; }
body .wpsm-table.wpsm-table-purple table tr th { background: none repeat scroll 0 0 #662D91; }
.wpsm-table table tbody tr td, .wp-block-table tr td, .table-condensed tr td { background: none repeat scroll 0 0 #FAFAFA; }
.wpsm-table table tbody tr:nth-child(2n+1) td, .table-condensed tr:nth-child(2n+1) td, .wp-block-table tr:nth-child(2n+1) td { background: none repeat scroll 0 0 #fff; }
.mycred-history-wrapper nav ul { display: block; height: 24px; }
.mycred-history-wrapper nav ul li { display: inline-block; color: #666; font-size: 14px; margin-left: 5px; line-height: 14px; }
.mycred-history-wrapper nav ul li a, .mycred-history-wrapper nav ul li span { display: block; padding: 5px 8px; color: #111; text-decoration: none; }
.mycred-history-wrapper nav ul li:hover a, .mycred-history-wrapper nav ul li a:focus, .mycred-history-wrapper nav ul li.active span{ color: #fff; }
.mycred-history-wrapper nav ul li.active span {font-weight: bold; cursor: default; }
.mycred-history-wrapper nav ul li.active span, .mycred-history-wrapper nav ul li a:hover, .mycred-history-wrapper nav ul li a:focus { background: #111; }


/* Numbox
================================================== */
.wpsm-numbox, .wpsm-numhead { clear: both; padding: 0 0 0 60px; position: relative; }
.wpsm-numbox span.num, .wpsm-numhead span { border-radius: 50%; display: block; font-size: 20px; font-weight: 600; height: 38px; left: 0; line-height: 32px; position: absolute; text-align: center; top: 0; width: 38px; }
.wpsm-numbox.wpsm-style1 span.num, .wpsm-numhead.wpsm-style1 span, .wpsm-numcircle.wpsm-style1 { color: #CCCCCC; border: 3px solid #CCCCCC; }
.wpsm-numbox.wpsm-style2 span.num, .wpsm-numhead.wpsm-style2 span, .wpsm-numcircle.wpsm-style2 { border: 3px solid #363636; color: #363636; }
.wpsm-numbox.wpsm-style3 span.num, .wpsm-numhead.wpsm-style3 span, .wpsm-numcircle.wpsm-style3 { border: 3px solid #fb7203; color: #fb7203; }
.wpsm-numbox.wpsm-style4 span.num, .wpsm-numhead.wpsm-style4 span, .wpsm-numcircle.wpsm-style4 { border: 3px solid #61BAEA; color: #61BAEA; }
.wpsm-numbox.wpsm-style5 span.num, .wpsm-numbox.wpsm-style6 span.num{ border: none; color: #fff; font-size: 55px; height: 55px; line-height: 55px; font-weight: normal; font-family: Roboto, Arial }
.wpsm-numbox.wpsm-style6 span.num{color: #111; }
.wpsm-numbox.wpsm-style5 h3, .wpsm-numbox.wpsm-style6 h3, .wpsm-numbox.wpsm-style5 h2, .wpsm-numbox.wpsm-style6 h2, .wpsm-numbox.wpsm-style6 h4, .wpsm-numbox.wpsm-style5 h4{margin: 0 0 10px 0}
.wpsm-numhead span{top:-4px;}
.wpsm-numcircle{font-weight:bold;border-radius: 50%;margin-right: 8px;font-size: 20px;width: 35px;height: 35px;line-height: 35px;display: inline-block;text-align: center; }

/* Titlebox
================================================== */
.wpsm-titlebox { margin: 0 0 30px 0; padding: 15px 20px 12px; position: relative; }
.wpsm-titlebox > strong:first-child { background: none repeat scroll 0 0 white; float: left; font-size: 16px; font-weight: 600; left: 11px; line-height: 18px; margin: 0 0 -9px !important; padding: 0 10px; position: absolute; text-transform: uppercase; top: -10px; }
.wpsm-titlebox.wpsm_style_1 { border: 3px solid #E7E4DF; }
.wpsm-titlebox.wpsm_style_1 > strong:first-child { color: #c0c0c0; }
.wpsm-titlebox.wpsm_style_2 { border: 3px solid #333; }
.wpsm-titlebox.wpsm_style_2 > strong:first-child { color: #333; }
.wpsm-titlebox.wpsm_style_3 { border: 3px solid #fb7203; }
.wpsm-titlebox.wpsm_style_3 > strong:first-child { color: #fb7203; }
.wpsm-titlebox.wpsm_style_4 { border: 3px double #E7E4DF; }
.wpsm-titlebox.wpsm_style_4 > strong:first-child { color: #666; }
.wpsm-titlebox.wpsm_style_5 { border: 3px solid #61BAEA; }
.wpsm-titlebox.wpsm_style_5 > strong:first-child { color: #333; }
.wpsm-titlebox.wpsm_style_main, .wpsm-titlebox.wpsm_style_secondary{border-width: 3px; border-style: solid;}
.wpsm_sep.vc_separator h4 {font-size: 21px}
.wpsm_sep.wpsm_uppercase{ text-transform: uppercase;}
.wpsm-titlebox p:last-child{margin: 0}

/* Codebox
================================================== */
pre.wpsm-code { background: none repeat scroll 0 0 #FAFAFA; border: 1px solid #E5E5E5; color: #666666; display: block; font-size: 12px; padding: 10px 20px; white-space: pre-wrap; word-wrap: break-word; font-family: monospace, serif; margin: 18px 0; font-size: 14px }
pre.wpsm-code.wpsm_code_2 { border: none; border-left: 4px solid #61BAEA; }

/* Dividers
================================================== */
.wpsm-divider { display: block; width: 100%; height: 0; margin: 0; background: none; border: none; }
.wpsm-divider.solid_divider { border-top: 1px solid #e6e6e6; }
.wpsm-divider.dashed_divider { border-top: 2px dashed #e6e6e6; }
.wpsm-divider.dotted_divider { border-top: 3px dotted #e6e6e6; }
.wpsm-divider.double_divider { height: 5px; border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; }
.wpsm-divider.fadeout_divider { width: 100%; height: 1px; border: none; margin-bottom: 42px; margin-top: 12px; margin-left: auto; margin-right: auto; background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 200, from(#e6e6e6), to(#ffffff)); background-image: -webkit-radial-gradient(50% 50%, #e6e6e6, #ffffff); background-image: -moz-radial-gradient(50% 50%, #e6e6e6, #ffffff); background-image: -o-radial-gradient(50% 50%, #e6e6e6, #ffffff); background-image: -ms-radial-gradient(50% 50%, #e6e6e6, #ffffff); background-image: radial-gradient(50% 50%, #e6e6e6, #ffffff); }
.wpsm-divider.fadein_divider { width: 100%; height: 1px; border: none; margin-bottom: 42px; margin-top: 12px; margin-left: auto; margin-right: auto; background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 200, from(#ffffff), to(#e6e6e6)); background-image: -webkit-radial-gradient(50% 50%, #ffffff, #e6e6e6); background-image: -moz-radial-gradient(50% 50%, #ffffff, #e6e6e6); background-image: -o-radial-gradient(50% 50%, #ffffff, #e6e6e6); background-image: -ms-radial-gradient(50% 50%, #ffffff, #e6e6e6); background-image: radial-gradient(50% 50%, #ffffff, #e6e6e6); }
.wpsm-divider.transparent_divider { }
.wpsm-divider.clear_divider { clear: both; }

/* Highlights
================================================== */
.wpsm-highlight-yellow, .wpsm-highlight-yellow a { background-color: #FFF7A8; color: #695D43; }
.wpsm-highlight-blue, .wpsm-highlight-blue a { color: #185a7c; background: #e9f7fe; }
.wpsm-highlight-green, .wpsm-highlight-green a { color: #5f9025; background: #ebf6e0; }
.wpsm-highlight-red, .wpsm-highlight-red a { color: #c03b3b; background: #ffe9e9; }
.wpsm-highlight-black, .wpsm-highlight-black a { color: #fff; background: #222; }

/* Googlemap
================================================== */
.wpsm_googlemap { position: relative; max-width: inherit; }
.wpsm_googlemap .map_canvas { width: 100%; height: 100%; }
.wpsm_googlemap .map_canvas h3 { margin: 0 0 10px; font-size: 14px; }
.wpsm_map_canvas img { max-width: none !important; }

/* Toggle
================================================== */
.wpsm-toggle { margin: 15px 0 }
.wpsm-toggle h3.wpsm-toggle-trigger { display: block; color: #555; display: block; padding: 15px; border: 1px solid #ddd; outline: 0; text-transform: none; letter-spacing: normal; font-size: 16px; line-height: 21px; margin: 10px 0 0 !important; cursor: pointer; font-family: Arial; background-color: #f9f9f9; }
.wpsm-toggle h3.wpsm-toggle-trigger:before { content: "+"; display: inline-block; margin-right: 10px; font-size: 16px; }
.wpsm-toggle h3.wpsm-toggle-trigger.active:before, .wpsm-toggle h3.wpsm-toggle-trigger.wpb_toggle_title_active:before { content: "–"; }
.wpsm-toggle .wpsm-toggle-trigger:hover { background-color: #eee; text-decoration: none; }
.wpsm-toggle .wpsm-toggle-trigger.active, .wpsm-toggle .wpsm-toggle-trigger.active:hover { color: #000; background-color: #eee; text-decoration: none; }
.wpsm-toggle .wpsm-toggle-container { display: none; overflow: hidden; padding: 15px; border: 1px solid #ddd; border-top: 0px; }
.wpb_toggle_content.wpsm-toggle-container{ margin-top: 0 }
.wpb_toggle.wpsm-toggle-trigger, #content h4.wpb_toggle.wpsm-toggle-trigger{ background-image: none }
.vc_toggle_title > h4 {text-transform: uppercase;font-size: 120%;}

/* #list style
================================================== */
.wpsm_pretty_list ul li a{display: inline-block;line-height: 18px; text-decoration: none; transition: none }
.darklink ul li a, nav.top_menu .darklink ul li a{color: #111 !important}
.darklink ul li a:hover, nav.top_menu .darklink ul li a:hover{color: #fff !important}
body .wpsm_pretty_list ul li { transition: all 0.2s ease; position:relative;list-style-type: none; margin: 0;padding: 10px 20px 10px 28px; border-radius: 100px}
.wpsm_pretty_list.small_gap_list ul li{padding: 6px 12px 6px 28px;}
.wpsm_pretty_list ul li:before{text-align: center; font-family: Font Awesome\ 5 Pro; position: absolute;top: 0;bottom: 0;left: 0px;width: 15px;height: 15px;margin: auto;line-height: 1;}
.wpsm_pretty_list.wpsm_pretty_hover ul li:hover{padding: 10px 20px 10px 34px;}
.wpsm_pretty_list.small_gap_list.wpsm_pretty_hover ul li:hover{padding: 6px 12px 6px 34px;}
.wpsm_pretty_list.wpsm_pretty_hover ul li:hover:before{left: 12px}
.font130 .wpsm_pretty_list ul li{padding-left: 34px}
.rtl .wpsm_pretty_list ul li:before{left: auto; right: 0px; content: "\f104";}
.rtl .wpsm_pretty_list ul li{padding: 12px 28px 12px 20px;}
.rtl .wpsm_pretty_list.small_gap_list ul li{padding: 6px 28px 6px 12px;}
.rtl .wpsm_pretty_list.wpsm_pretty_hover ul li:hover{padding: 10px 34px 10px 20px;}
.rtl .wpsm_pretty_list.small_gap_list.wpsm_pretty_hover ul li:hover{padding: 6px 34px 6px 12px;}
.rtl .wpsm_pretty_list.wpsm_pretty_hover ul li:hover:before{right: 12px; left: auto;}
.rtl .font130 .wpsm_pretty_list ul li{padding-right:34px}
.wpsm_arrowlist ul li:before {content: "\f105"}
.wpsm_checklist ul li:before {content: "\f00c"; color: #1abf3d}
.wpsm_starlist ul li:before { content: "\f005"; font-weight: 900 }
.wpsm_bulletlist ul li:before { content: "\f192"; font-weight: 300 }
.wpsm_pretty_hover ul li:hover:before, .wpsm_pretty_list.wpsm_pretty_hover ul li:hover a{color: #fff !important}
/* #tooltip
================================================== */
.wpsm-tooltip { border-bottom: 1px dotted #666; font-weight: bold; }
.meta_value_row_chart .wpsm-tooltip{border: none;}
/* #members style
================================================== */
.wpsm-members { background: none repeat scroll 0 0 #FAFAFA; border: 1px solid #ddd; color: #444; margin: 25px 0 18px 0; padding: 17px 15px 10px 15px; position: relative; }
.wpsm-members > strong:first-child { font-size: 12px; padding: 0 10px; width: auto !important; color: #FFFFFF; height: 20px; left: 10px; line-height: 21px; position: absolute; text-align: center; top: -10px; width: 20px; }
article em.emph { margin: 10px 0 }

/* Pricing Table
================================================== */
.wpsm-price { margin: 20px 0 !important }
.wpsm-price li { margin: 0; }
.wpsm-price .wpsm-price-column { float: left; display: inline; text-align: center; margin-right: -1px }
.wpsm-price .wpsm-price-column.wpsm-featured-price { margin: -10px 0; margin-right: -1px; z-index: 1000 }
.wpsm-price .wpsm-price-column .wpsm-price-header { background: #333 url(../images/sep_home.png) bottom repeat-x; border-left: 1px solid #4F4F4F; border-right: 1px solid #4F4F4F; }
.wpsm-price .wpsm-price-column.wpsm-featured-price .wpsm-price-header { background-color: #fb7203; border: none; }
.wpsm-price .wpsm-price-column .wpsm-price-header h4 { color: #fff; padding: 20px 0; margin: 0; text-align: center; font-size: 22px; line-height: 22px }
.wpsm-price .wpsm-price-column.wpsm-featured-price .wpsm-price-header h4 { color: #fff; text-shadow: 0 1px 0px #7494a5 }
.wpsm-price .wpsm-price-column .wpsm-price-cell { font-size: 14px; color: #111; padding: 20px; background-color: #f2f2f2; border-bottom: 1px solid #e2e2e2; }
.wpsm-price .wpsm-price-column .wpsm-price-cell .wpsm-price-value { font-size: 24px; }
.wpsm-price .wpsm-price-column.wpsm-featured-price .wpsm-price-cell { background-color: #f2f2f2; color: #333; }
.wpsm-price .wpsm-price-column .wpsm-price-content { padding-bottom: 20px; border: 1px solid #e0e0e0; }
.wpsm-price .wpsm-price-column .wpsm-price-content ul { margin: 0; margin-bottom: 10px; padding: 10px 20px; list-style: none; }
.wpsm-price .wpsm-price-column .wpsm-price-content ul li { padding: 10px 0; margin: 0; border-bottom: 1px solid #e2e2e2; font-size: 12px; color: #666; list-style: none; }
.wpsm-price .wpsm-price-column.wpsm-featured-price .wpsm-price-content ul li { font-size: 13px; padding: 12px 0; color: #333 }
.wpsm-price .wpsm-price-column .wpsm-price-content ul li:hover { color: #999 }
.wpsm-price .wpsm-price-column.wpsm-featured-price .wpsm-price-header h4 { text-shadow: 0 1px 0px #a72b2b }
.wpsm-price.clear:before, .wpsm-price.clear:after { content: "."; display: block; font-size: 0; height: 0; line-height: 0; overflow: hidden; visibility: hidden; width: 0; }
.wpsm-price .wpsm-price-button span.wpsm-button-inner { padding: 8px 18px; font-size: 16px; }
.wpsm-price .wpsm-price-column.wpsm-featured-price .wpsm-price-button { padding: 4px 0; }
.wpsm-price .wpsm-price-column.wpsm-featured-price .wpsm-price-button span.wpsm-button-inner { padding: 12px 22px; font-size: 17px }
.wpsm-price.clear:after { clear: both; }

/* Promobox
================================================== */
.wpsm_promobox { background: none repeat scroll 0 0 #f8f8f8; padding: 15px 25px; clear: both; margin: 15px 0; position: relative; overflow: auto; color: #333; }
.wpsm_promobox .title_promobox { font-size: 18px; line-height: 20px; margin: 0 0 7px; }
.wpsm_promobox p { font-size: 14px; margin: 10px 0; }
.wpsm_promobox .rehub_main_btn { float: right; margin: 8px 0 15px 15px }
.wpsm-button.medium.rehub_main_btn span.wpsm-button-inner { font-size: 18px; line-height: 18px; padding: 12px 24px; font-weight: bold }
.wpsm-button span.wpsm-button-inner { display: block; }
.wpsm_vca.vc_call_to_action hgroup h2, .vc_cta3 h2{ font-size: 24px; line-height:24px; font-weight: 700; text-transform: uppercase; margin-bottom: 20px; position: relative;color: inherit;}
.wpsm_vca.vc_call_to_action hgroup h4, .vc_cta3 h4{ font-size: 18px; line-height:18px; font-weight: 700; text-transform: uppercase; color: inherit; margin-bottom: 15px;}
.wpsm_vca{color: #fff}
.wpsm_vca .vc_button-2-wrapper{ display: block;}
@media only screen and (max-width: 479px) {
.wpsm_promobox .rehub_main_btn { float: none; margin: 0 0 10px 0; position: absolute; left: 25px; bottom: 15px }
.wpsm_promobox { padding: 15px 25px 70px 25px }
}

/* Tabs
================================================== */
.wpsm-tabs { margin-bottom: 15px; padding: 0; font-size: inherit !important; font-family: inherit !important; }
.wpsm-tabs ul.ui-tabs-nav { display: block; margin: 0; padding: 0; border-bottom: solid 1px #ddd !important; }
.wpsm-tabs ul.ui-tabs-nav li { display: block; width: auto; height: 40px; padding: 0 !important; float: left; margin: 0 !important; outline: none; top:0 !important; }
.wpsm-tabs ul.ui-tabs-nav li a { display: block; text-decoration: none; width: auto; height: 39px; padding: 0px 20px; line-height: 40px; border: solid 1px #ddd; border-width: 1px 1px 0 0; margin: 0; background-color: #f5f5f5; font-size: 1em; color: #444; outline: none; transition: none; float: none !important }
.wpsm-tabs ul.ui-tabs-nav li a:hover { color: #333; background: #eee; }
.wpsm-tabs ul.ui-tabs-nav .ui-state-active a { background: #fff; height: 40px; position: relative; border-left-width: 1px; margin: 0; color: #111 !important; -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; border-top: 3px solid #fb7203;font-weight: bold;border-bottom: 1px solid #fff;}
.wpsm-tabs ul.ui-tabs-nav .ui-state-active a:hover { background: #fff; }
.wpsm-tabs ul.ui-tabs-nav li.ui-state-active:first-child a { margin-left: 0; border-width: 3px 1px 1px 1px;}
.wpsm-tabs ul.ui-tabs-nav li:first-child a { border-width: 1px 1px 0 1px; }
.wpsm-tabs .tab-content { background: #fff; padding: 20px; border-left: solid 1px #ddd; border-right: solid 1px #ddd; border-bottom: solid 1px #ddd; }
.wpsm-tabs ul.tabs:before, ul.tabs:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.wpsm-tabs ul.tabs:after { clear: both; }
.wpsm-tabs ul.tabs { zoom: 1; }
.wpsm-tabs .ui-tabs-hide { display: none; }
.wpsm-tabs:before, ul.wpsm-tabs:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.wpsm-tabs:after { clear: both; }
.wpsm-tabs { zoom: 1; }
.wpsm-tabs .ui-tabs-hide { display: none; }
.wpsm-clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.wpb_content_element.wpsm-tabs .wpb_tour_tabs_wrapper .wpb_tabs_nav a{padding:0 20px}
.wpb_content_element.wpsm-tabs .wpb_tour_tabs_wrapper .wpb_tabs_nav .ui-state-active a{ padding: 4px 20px 0 20px;}
.wpb_content_element.wpb_tabs.wpsm-tabs .wpb_tour_tabs_wrapper .wpb_tab{background: #fff;padding: 20px;border-left: solid 1px #ddd;border-right: solid 1px #ddd;border-bottom: solid 1px #ddd; clear: both;}
.wpb_content_element .wpb_tabs_nav li a{ color:#111;}
.wpsm-tabs.n_b_tab ul.ui-tabs-nav{border: none !important; margin: 0 !important; text-align: center !important;}
.wpsm-tabs.n_b_tab ul.ui-tabs-nav li{ display: inline-block !important; float: none !important; background-color: transparent !important;}
.wpsm-tabs.n_b_tab ul.ui-tabs-nav li a{ border: none !important; font-size: 1.2em; text-transform: uppercase; background-color: transparent !important; font-weight: bold;}
.wpb_content_element.wpb_tabs.wpsm-tabs.n_b_tab .wpb_tour_tabs_wrapper .wpb_tab{ border: none !important; padding: 20px 0 !important; background: transparent !important;}
.wpb_content_element.wpsm-tabs.n_b_tab .wpb_tour_tabs_wrapper .wpb_tabs_nav .ui-state-active a{ border-bottom: 3px solid #fb7203 !important }
.wpb_content_element.n_b_tab .wpb_tabs_nav li.ui-tabs-active, .wpb_content_element.n_b_tab .wpb_tabs_nav li:hover{background-color: transparent !important;}
.wpsm-tabs .ui-widget-header, .ui-widget-content.wpsm-tabs, .wpsm-tabs .ui-state-active, .wpsm-tabs .ui-state-default{ background: none transparent !important; border: none !important; border-radius: 0 !important}
.wpsm-tabs .ui-corner-bottom{border-radius: 0 !important}
@media screen and (max-width: 767px) {
div.wpsm-tabs ul.ui-tabs-nav li{float:none !important}
.wpsm-tabs ul.ui-tabs-nav li a{border-left-width: 1px !important}
}
/*VC 4.6.*/
.vc_tta-tabs.wpsm-tabs .vc_tta-tab > a { color: #555 !important; padding: 10px 20px !important; background-color: #f4f4f4 !important}
.vc_tta-tabs.wpsm-tabs .vc_tta-tab.vc_active > a {  color: #111 !important; font-weight: bold; background-color: transparent !important;}
.vc_tta-tabs.wpsm-tabs .vc_tta-panels{background-color: transparent !important;border-top-color:transparent !important}
.vc_tta-tabs.wpsm-tabs .vc_tta-panel.vc_active .vc_tta-panel-heading a:after{ content: "\f107"; text-align: right; font-family: Font Awesome\ 5 Pro;  position: absolute;top: 12px;right: 15px;}
.vc_tta-tabs.wpsm-tabs .vc_tta-panel .vc_tta-panel-body{background-color: transparent !important;}
.vc_tta-tabs.wpsm-tabs .vc_tta-tab.vc_active > a{border-color: #ddd !important;border-bottom-color: transparent !important;}
.vc_tta-tabs.wpsm-tabs .vc_tta-tab.vc_active, .vc_tta-tabs.wpsm-tabs .vc_tta-panel.vc_active .vc_tta-panel-heading{  border-top: 3px solid #fb7203 !important;}
@media (min-width: 768px) {
.vc_tta-tabs.wpsm-tabs .vc_tta-panels {
  border-color: #ddd !important;
  border-top-color: transparent !important;
}
}
.n_b_tab.vc_tta-tabs.wpsm-tabs .vc_tta-tab > a { border: none !important; font-size: 1.2em; text-transform: uppercase; background-color: transparent !important; font-weight: bold;}
.n_b_tab.vc_tta-tabs.wpsm-tabs .vc_tta-tab.vc_active{border-bottom: 3px solid #fb7203 !important; border-top: none !important;}
.n_b_tab.vc_tta-tabs.wpsm-tabs .vc_tta-panels-container{ margin: 10px 0}

/* Testimonial
================================================== */
.wpsm-testimonial { margin: 15px 0 }
.wpsm-testimonial-content { font-style: italic; position: relative; background: #f5f5f5; padding: 15px; color: #666; border-radius: 2px; -webkit-border-radius: 2px; }
.wpsm-testimonial-content:after { content: ""; position: absolute; left: 12px; bottom: -15px; width: 0px; height: 0px; border-bottom: 15px solid rgba(255,255,255,0); border-top: 15px solid rgba(255,255,255,0); border-right: 15px solid #f5f5f5; font-size: 0px; line-height: 0px; }
.wpsm-testimonial-content p:last-child { margin: 0; }
.wpsm-testimonial-author { font-size: 1em; margin-top: 20px; margin-left: 15px; color: #000; font-weight: bold; }
.wpsm-testimonial-author img{ height: 40px; width: 40px; border-radius:50%; margin-right: 10px }

/* Tooltip
================================================== */
.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 2000000; }
.tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }
.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.wpsm_dropcap { display: block; float: left; font-size: 32px; line-height: 40px; margin: 0 6px 0 0; }

/* PROS&CONS
================================================== */
.wpsm_pros .title_pros{color:#58c649; margin: 0 0 15px 0; font-size: 16px; font-weight: bold; font-style: italic;}
.wpsm_cons .title_cons{color:#f24f4f; margin: 0 0 15px 0; font-size: 16px; font-weight: bold; font-style: italic;}
.wpsm_pros ul li, .wpsm_cons ul li, #buddypress .standard-form div.radio ul li{list-style: none !important; margin: 0 0 10px 0;}
.wpsm_pros ul, .wpsm_cons ul{margin: 0 0 15px 0} 
.wpsm_pros ul li:before, #buddypress .standard-form div.radio ul li:before{content:'\f058'; font-family: 'Font Awesome\ 5 Pro'; color: #58c649; padding-right: 8px; font-size: 18px; font-weight: 900; vertical-align: top;}
.wpsm_cons ul li:before{content:'\f056'; font-family: 'Font Awesome\ 5 Pro'; color: #f24f4f; padding-right: 8px; font-weight: 900; vertical-align: top;}
.prosconswidget{font-family: Roboto;}

/*Widgets
==============================*/
.wpb_content_element h2.widgettitle{margin-bottom: 25px; }

/*SEP LINE*/
.wpsm_sep_line{margin: 0 auto;padding: 0;position: relative;overflow: hidden; }
.wpsm_sep_line span {display: block;width: 100%;max-width: 100%;}
.wpsm_sep_left span{ float: left;}
.wpsm_sep_right span{ float: right;}
.wpsm_sep_center span{ margin: 0 auto}

/*Bars*/
.vc_progress_bar .vc_single_bar .vc_label{color: #FFF}
/*Icon*/
.vc_row .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-xl .vc_icon_element-icon {font-size: 6.5em !important;}
.vc_row .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-xl{ width: 6.5em; height: 6.5em}
/*Image title*/
.wpb_singleimage_heading{ font: normal 15px trebuchet; margin-bottom: 10px}
.wpb_single_image .vc_single_image-wrapper{display:block;}
/*Heading bar*/
.wpb_progress_bar_heading{ font: normal 18px trebuchet; margin-bottom: 10px}

/***Hover banner ***/
.wpsm-banner-wrapper .wpsm-banner-text{position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 20;overflow: hidden}
.wpsm-banner-wrapper .wpsm-banner-text .tabledisplay{height: 100%}
.wpsm-banner-wrapper .wpsm-banner-text:before, .wpsm-banner-wrapper .wpsm-banner-text:after {position: absolute;content: '';opacity: 0}
.wpsm-banner-wrapper .wpsm-banner-text:before {border-top: 2px dashed #fff;border-bottom: 2px dashed #fff;-webkit-transform: scale(0,1);transform: scale(0,1);-webkit-transform-origin: 0 0;transform-origin: 0 0;z-index: 10}
.wpsm-banner-wrapper .wpsm-banner-text:after{border-right: 2px dashed #fff;border-left: 2px dashed #fff;-webkit-transform: scale(1,0);transform: scale(1,0);-webkit-transform-origin: 100% 0;transform-origin: 100% 0;z-index: 11}
.wpsm-banner-wrapper:hover .wpsm-banner-text:before, .wpsm-banner-wrapper:hover .wpsm-banner-text:after{opacity: 1;-webkit-transform: scale(1);transform: scale(1);-webkit-transition: opacity .35s,-webkit-transform .35s;transition: opacity .35s,transform .35s}
.wpsm-banner-wrapper:hover .wpsm-banner-text:before, .wpsm-banner-wrapper:hover .wpsm-banner-text:after {-webkit-transition-delay: .25s;transition-delay: .25s}
.wpsm-banner-wrapper i{font-size: 2.5em;display: block; margin: 0 0 10px 0}
.wpsm-banner-wrapper h4, .wpsm-banner-wrapper h6{margin: 0 0 10px 0;-webkit-transition:color .40s ease-in-out;transition:color .40s ease-in-out;}
.wpsm-banner-wrapper h4{font-size: 1.7em;font-weight: bold}
.wpsm-banner-wrapper h6{font-size: 1.1em;font-weight: 300;font-style: italic}
.wpsm-banner-wrapper.rh-transition-box a {position: relative}
.wpsm-banner-overlay .wpsm-banner-mask:after {display: block;position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: #111;content: '';z-index: 2;opacity: 0.25;transition: all .5s ease 0s;}
.wpsm-banner-overlay:hover .wpsm-banner-mask:after{opacity: .4;top: 0;right: 0;bottom: 0;left: 0}
.wpsm-banner-overlay:hover h4, .wpsm-banner-overlay:hover h6{color: #fff}

/* Itinerary
================================================== */
.wpsm-itinerary .wpsm-itinerary-icon:after{content: '';border: 1px dashed #ddd;position: absolute;left: 15px;height: 99%;}
.wpsm-itinerary .wpsm-itinerary-item:last-child .wpsm-itinerary-icon:after{border:none}
.wpsm-itinerary-item{display:table;position: relative;}
.wpsm-itinerary-icon{display: table-cell;color: #fff;}
.wpsm-itinerary-icon span{display: block;border-radius: 100%;width: 32px;height: 32px;line-height: 32px;padding-left: 1px;font-size: 18px;text-align: center;}
.wpsm-itinerary-icon i{font-size: 15px}
.wpsm-itinerary-content{display: table-cell;color: #333;overflow: hidden;vertical-align: top;padding: 0 0 35px 15px;}
.wpsm-itinerary-content p:last-child{margin-bottom: 0}.wpsm-itinerary-content h2, .wpsm-itinerary-content h3, .wpsm-itinerary-content h4, .wpsm-itinerary-content h5{margin-top: 0}

/* Versus
================================================== */
.wpsm-versus-item{display: table;width: 100%;border-radius: 5px; padding: 5px}
.wpsm-versus-item .title-versus {width: 40%;display: table-cell;vertical-align: middle;}
.wpsm-versus-item .vs-heading{font-size: 17px; font-weight: bold; display: block; padding: 0 10px}
.wpsm-versus-item .vs-subheading{font-size: 13px; opacity: 0.5; display: block; padding: 0 10px}
.wpsm-versus-cont {vertical-align: middle;display: table;width: 100%;}
.wpsm-versus-item .vs-1-col, .wpsm-versus-item .vs-2-col, .wpsm-versus-item .vs-3-col, .wpsm-versus-item .vs-circle-col {text-align: center;display: table-cell;vertical-align: middle;width: 273px;}
.wpsm-versus-item .vs-circle-col{width: 40px}
.wpsm-versus-item .vs-circle {font-weight:bold; font-family: Arial; font-size:16px;border-radius: 20px;height: 40px;width: 40px;display: block;text-align: center;line-height: 40px;background: #e9e9e9;margin: 0 10px; color: #111}
.wpsm-versus-item .vs-greyscale{-webkit-filter: grayscale(100%);filter: grayscale(100%); opacity: 0.6}
.wpsm-versus-item .vs-image{max-width: 80px; max-height: 80px; margin: 5px 0}
.wpsm-versus-item .vs-conttext{font-weight: bold;color: #529d16; font-size: 16px}
.wpsm-versus-item .vs-tick{font-size: 25px;color: #4fb200;}
.wpsm-versus-item .vs-times{font-size: 22px;color: #cc0000;}

@media (max-width: 500px){
	.wpsm-versus-item{display: block;margin-bottom: 18px}
	.wpsm-versus-item .title-versus{margin: 6px 5px 12px 5px; display: block;width: 100%; text-align: center;}
	.wpsm-versus-item .vs-heading{font-size: 15px}
	.wpsm-versus-item .vs-subheading{font-size: 12px}
	.wpsm-versus-cont{width: 100%}
	.wpsm-versus-item .vs-image{margin: 10px 0}
}

/****************************************************************************
320 x 480 (iPhone)
****************************************************************************/
@media only screen and (max-width: 600px) {
.wpsm-price .wpsm-price-column { float: none; }
.wpsm-pricing-table > div { margin-bottom: 25px; }
.wpsm_box,  .wpsm_box.leftfloat_box,  .wpsm_box.rightfloat_box { float: none; width: 100% !important; margin: 0 0 25px 0 !important }
}